# 严格对等依赖
strict-peer-dependencies=false
# 自动安装对等依赖
auto-install-peers=true
# 公共 hoist 模式
shamefully-hoist=false
# 允许循环依赖
allow-cycle=false
# 提升所有共享依赖到根 node_modules/.pnpm
node-linker=hoisted
# 启用 pnpm 补丁
enable-pre-post-scripts=true
# 运行时更新通知
update-notifier=false
