.slide-y-enter-active,
.slide-y-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.slide-y-enter-from,
.slide-y-leave-to {
  opacity: 0;
  transform: translateY(-9px);
}