@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './router/index.scss';
@import './transition/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('/img/desktop.jpg');
}
